<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    </link>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    </link>
    <script src="https://cdn.jsdelivr.net/npm/imjoy-rpc@0.5.6/dist/hypha-rpc-websocket.min.js"></script>
    <style>
        button {
            padding: 8px 16px;
        }

        pre {
            overflow-x: hidden;
            overflow-y: auto;
        }

        video {
            width: 100%;
            height: 50vh;
        }

        .option {
            margin-bottom: 8px;
        }

        #media {
            max-width: 1280px;
        }
    </style>


    <style>
        #app {
            margin-top: 2px;
        }

        #viewer-section {
            display: table;
            margin-top: 5px;
            max-width: calc(100vh - 32px);
        }

        .viewer-container {
            display: table-cell;
            position: relative;
        }

        .field {
            margin-bottom: .2rem !important;
        }
    </style>

</head>

<body>


    <div id="app">


        <nav class="panel" style="padding: 40px;">
            <p class="title">
                WebRTC Hypha Demo
            </p>
            <section>
                <div class="option">
                    <label for="service-id">WebRTC service id: </label>
                    <input id="service-id" type="text" value="aiortc-demo" />
                </div>
            </section>
            <br>
            <section>
                <div class="buttons">
                    <b-button :loading="waitingConnection" :type="liveRunning?'is-danger': 'is-primary is-light'"
                        @click="toggleLive()">
                        {{liveRunning?'Stop Live': 'Start Live'}}</b-button>

                    <!-- &nbsp;Exposure: <b-field>
            <b-input placeholder="Exposure"
                size="is-small"
                @input="mmcore.setExposure(parseFloat(exposure))"
                v-model="exposure"
                type="number"
                min="0"
                max="10000">
            </b-input>
        </b-field>
        &nbsp;Binning: <b-field>
            <b-select placeholder="Binning"
                      size="is-small"
                      @input="mmcore.setProperty(cameraDevice, 'Binning', binning)"
                      v-model="binning">
                <option :value="1">1</option>
                <option :value="2">2</option>
                <option :value="4">4</option>
                <option :value="8">8</option>
                <option :value="16">16</option>
            </b-select>
        </b-field>
        &nbsp;&nbsp;<b-button size="is-small" @click="showDevicePropertyBrowser()">Device Properties</b-button> -->

                    <b-button size="is-small" @click="send('left');">←</b-button>
                    <b-button size="is-small" @click="send('right')">→</b-button>
                    <b-button size="is-small" @click="send('up')">↑</b-button>
                    <b-button size="is-small" @click="send('down')">↓</b-button>
                </div>


            </section>
            <section id="viewer-section">
                <div id="media" style="display: none; height: 50vh;">
                    <audio id="audio" autoplay="true"></audio>
                    <video id="video" autoplay="true" playsinline="true"></video>
                </div>
            </section>
        </nav>

    </div>

    <script>


        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        if (urlParams.get('service_id')) {
            document.getElementById('service-id').value = urlParams.get('service_id');
        }

        // get DOM elements
        var dataChannelLog = document.getElementById('data-channel'),
            iceConnectionLog = document.getElementById('ice-connection-state'),
            iceGatheringLog = document.getElementById('ice-gathering-state'),
            signalingLog = document.getElementById('signaling-state');

        // peer connection
        var pc = null;

        // data channel
        var dc = null, dcInterval = null;

        // imjoyRPC.setupRPC({name: 'My Awesome App'}).then((api)=>{
        //     api.alert("hi")
        // })



        function createPeerConnection() {
            var config = {
                sdpSemantics: 'unified-plan'
            };

            // if (document.getElementById('use-stun').checked) {
            config.iceServers = [{ urls: ['stun:stun.l.google.com:19302'] }];
            // }

            pc = new RTCPeerConnection(config);

            // register some listeners to help debugging
            pc.addEventListener('icegatheringstatechange', function () {
                console.log(' -> ' + pc.iceGatheringState)
            }, false);
            console.log(pc.iceGatheringState);

            pc.addEventListener('iceconnectionstatechange', function () {
                console.log(' -> ' + pc.iceConnectionState);
            }, false);
            console.log(pc.iceConnectionState);

            pc.addEventListener('signalingstatechange', function () {
                console.log(' -> ' + pc.signalingState)
            }, false);
            console.log(pc.signalingState);

            // connect audio / video
            pc.addEventListener('track', function (evt) {
                if (evt.track.kind == 'video')
                    document.getElementById('video').srcObject = evt.streams[0];
                else
                    document.getElementById('audio').srcObject = evt.streams[0];
            });

            return pc;
        }

        function negotiate() {
            return pc.createOffer().then(function (offer) {
                return pc.setLocalDescription(offer);
            }).then(function () {
                // wait for ICE gathering to complete
                return new Promise(function (resolve) {
                    if (pc.iceGatheringState === 'complete') {
                        resolve();
                    } else {
                        function checkState() {
                            if (pc.iceGatheringState === 'complete') {
                                pc.removeEventListener('icegatheringstatechange', checkState);
                                resolve();
                            }
                        }
                        pc.addEventListener('icegatheringstatechange', checkState);
                    }
                });
            }).then(async function () {
                var offer = pc.localDescription;
                var codec;

                codec = "default" // document.getElementById('audio-codec').value;
                if (codec !== 'default') {
                    offer.sdp = sdpFilterCodec('audio', codec, offer.sdp);
                }

                codec = "default" // document.getElementById('video-codec').value;
                if (codec !== 'default') {
                    offer.sdp = sdpFilterCodec('video', codec, offer.sdp);
                }

                // document.getElementById('offer-sdp').textContent = offer.sdp;

                const service_id = document.getElementById('service-id').value;

                const server = await hyphaWebsocketClient.connectToServer({ "name": "js-client", "server_url": "https://ai.imjoy.io", "method_timeout": 10 })
                const svc = await server.getService(service_id)
                const answer = await svc.offer({
                    sdp: offer.sdp,
                    type: offer.type,
                    video_transform: "none" // document.getElementById('video-transform').value
                })
                // document.getElementById('answer-sdp').textContent = answer.sdp;
                return pc.setRemoteDescription(answer);

            }).catch(function (e) {
                console.error(e)
                alert(e);
                throw e;
            });
        }



        function sdpFilterCodec(kind, codec, realSdp) {
            var allowed = []
            var rtxRegex = new RegExp('a=fmtp:(\\d+) apt=(\\d+)\r$');
            var codecRegex = new RegExp('a=rtpmap:([0-9]+) ' + escapeRegExp(codec))
            var videoRegex = new RegExp('(m=' + kind + ' .*?)( ([0-9]+))*\\s*$')

            var lines = realSdp.split('\n');

            var isKind = false;
            for (var i = 0; i < lines.length; i++) {
                if (lines[i].startsWith('m=' + kind + ' ')) {
                    isKind = true;
                } else if (lines[i].startsWith('m=')) {
                    isKind = false;
                }

                if (isKind) {
                    var match = lines[i].match(codecRegex);
                    if (match) {
                        allowed.push(parseInt(match[1]));
                    }

                    match = lines[i].match(rtxRegex);
                    if (match && allowed.includes(parseInt(match[2]))) {
                        allowed.push(parseInt(match[1]));
                    }
                }
            }

            var skipRegex = 'a=(fmtp|rtcp-fb|rtpmap):([0-9]+)';
            var sdp = '';

            isKind = false;
            for (var i = 0; i < lines.length; i++) {
                if (lines[i].startsWith('m=' + kind + ' ')) {
                    isKind = true;
                } else if (lines[i].startsWith('m=')) {
                    isKind = false;
                }

                if (isKind) {
                    var skipMatch = lines[i].match(skipRegex);
                    if (skipMatch && !allowed.includes(parseInt(skipMatch[2]))) {
                        continue;
                    } else if (lines[i].match(videoRegex)) {
                        sdp += lines[i].replace(videoRegex, '$1 ' + allowed.join(' ')) + '\n';
                    } else {
                        sdp += lines[i] + '\n';
                    }
                } else {
                    sdp += lines[i] + '\n';
                }
            }

            return sdp;
        }

        function escapeRegExp(string) {
            return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&'); // $& means the whole matched string
        }



        const app = new Vue({
            el: '#app',
            data: {
                liveRunning: false,
                waitingConnection: false,
            },
            methods: {
                async toggleLive() {

                    if (!this.liveRunning) {
                        await this.start();
                    }
                    else {
                        this.stop();
                    }
                    this.liveRunning = !this.liveRunning
                },
                async send(cmd) {
                    dc.send(cmd);
                },
                async start() {
                    pc = createPeerConnection();

                    var time_start = null;

                    function current_stamp() {
                        if (time_start === null) {
                            time_start = new Date().getTime();
                            return 0;
                        } else {
                            return new Date().getTime() - time_start;
                        }
                    }

                    // if (document.getElementById('use-datachannel').checked) {
                    var parameters = { "ordered": true }; //JSON.parse(document.getElementById('datachannel-parameters').value);

                    dc = pc.createDataChannel('chat', parameters);
                    dc.onclose = function () {
                        clearInterval(dcInterval);
                        console.log('- close\n');
                    };
                    dc.onopen = function () {
                        console.log('- open\n');
                        dcInterval = setInterval(function () {
                            var message = 'ping ' + current_stamp();
                            console.log('> ' + message + '\n');
                            dc.send(message);
                        }, 1000);

                        dc.send('start');
                    };
                    dc.onmessage = function (evt) {
                        console.log('< ' + evt.data + '\n')

                        if (evt.data.substring(0, 4) === 'pong') {
                            var elapsed_ms = current_stamp() - parseInt(evt.data.substring(5), 10);
                            console.log(' RTT ' + elapsed_ms + ' ms\n');
                        }
                    };
                    // }

                    var constraints = {
                        audio: false,
                        video: false
                    };

                    var resolution = ""
                    if (resolution) {
                        resolution = resolution.split('x');
                        constraints.video = {
                            width: parseInt(resolution[0], 0),
                            height: parseInt(resolution[1], 0)
                        };
                    } else {
                        constraints.video = true;
                    }

                    this.waitingConnection = true;
                    try {
                        if (constraints.audio || constraints.video) {
                            if (constraints.video) {
                                document.getElementById('media').style.display = 'block';
                            }

                            const hostCanvas = document.createElement('canvas');
                            const stream = hostCanvas.captureStream(10);
                            stream.getVideoTracks().forEach(function (track) {
                                pc.addTrack(track, stream);
                            });
                            await negotiate();
                        } else {
                            await negotiate();
                        }
                    }
                    catch (e) {
                        console.error(e)
                        throw e;
                    }
                    finally {
                        this.waitingConnection = false;
                    }
                },
                stop() {
                    // close data channel
                    if (dc) {
                        dc.close();
                    }

                    // close transceivers
                    if (pc.getTransceivers) {
                        pc.getTransceivers().forEach(function (transceiver) {
                            if (transceiver.stop) {
                                transceiver.stop();
                            }
                        });
                    }

                    // close local audio / video
                    pc.getSenders().forEach(function (sender) {
                        sender.track.stop();
                    });

                    // close peer connection
                    setTimeout(function () {
                        pc.close();
                    }, 500);
                }
            }
        })
    </script>




</body>

</html>
